<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<description>
		</description>
		<display-name>ProductListServlet</display-name>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>shopping.servlet.ProductListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddProductServlet</display-name>
		<servlet-name>AddProductServlet</servlet-name>
		<servlet-class>shopping.servlet.AddProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShoppingServlet</display-name>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>shopping.servlet.ShopServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCartServlet</display-name>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>shopping.servlet.AddToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShoppingCartServlet</display-name>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>shopping.servlet.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateQuantityInCartServlet</display-name>
		<servlet-name>UpdateQuantityInCartServlet</servlet-name>
		<servlet-class>shopping.servlet.UpdateQuantityInCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckoutServlet</display-name>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>shopping.servlet.CheckoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PlaceOrderServlet</display-name>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<servlet-class>shopping.servlet.PlaceOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/productList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/addProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/addToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/shoppingcart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuantityInCartServlet</servlet-name>
		<url-pattern>/updateItemQuantityInCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlaceOrderServlet</servlet-name>
		<url-pattern>/placeorder</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
